<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/homePage.js" defer></script>
</head>
<body>
<%- include('partials/header') %>

<header class="hero">
    <div class="hero-content">
        <h1><%= title %></h1>
    </div>
    <div class="hero-image">
        <img src="/images/healthy-drinks.webp" alt="Drinks image" />
    </div>
</header>

<main class="container">

   <h2>USER ACCOUNT</h2>
</main>
